/builddir*
venv/
.venv-done
MoltenVK*
shaderc*
/external/sxplayer*
/external/windows
/external/linux
/external/darwin
/external/stb
/external/json
/external/pkgconf*
/external/ngfx*
ngfx/cmake-build-*
/shader-tools/cmake-build-*
ngl-debug-tools/cmake-build-*
CMakeLists.txt.user
**/.DS_Store
*.xcworkspace
.eggs
pynodegl.egg-info
